<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hibernate.v2.sunshine">

    <application
        android:name=".core.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ui.onboarding.mobile.OnboardingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Mobile.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.mobile.MainActivity"
            android:theme="@style/AppTheme.Mobile.MainActivity" />
        <activity
            android:name=".ui.eta.edit.mobile.EditEtaActivity"
            android:theme="@style/AppTheme.Mobile" />
        <activity
            android:name="hibernate.v2.sunshine.ui.eta.add.mobile.AddEtaActivity"
            android:theme="@style/AppTheme.Mobile" />
        <activity
            android:name=".ui.settings.eta.layout.mobile.EtaLayoutSelectionActivity"
            android:theme="@style/AppTheme.Mobile" />
        <!-- Leanback -->

        <activity
            android:name=".ui.onboarding.leanback.OnboardingActivity"
            android:banner="@drawable/app_icon"
            android:exported="true"
            android:icon="@drawable/app_icon"
            android:label="@string/app_name"
            android:logo="@drawable/app_icon"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Leanback">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.leanback.MainActivity"
            android:theme="@style/AppTheme.Leanback" />
        <activity
            android:name="hibernate.v2.sunshine.ui.eta.edit.leanback.EditEtaActivity"
            android:theme="@style/AppTheme.Leanback" />
        <activity
            android:name="hibernate.v2.sunshine.ui.eta.add.leanback.AddEtaActivity"
            android:theme="@style/AppTheme.Leanback" />
        <activity
            android:name=".ui.eta.edit.leanback.EditEtaDialogActivity"
            android:theme="@style/AppTheme.Leanback" />
        <activity
            android:name=".ui.settings.eta.layout.leanback.EtaLayoutSelectionActivity"
            android:theme="@style/AppTheme.Leanback" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAP_API_KEY" />

        <receiver android:name=".receiver.WakeUpReceiver" />
        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>